.main-page{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 5em;
  left: 50%;
  color: white;
}

.profile-pic{
  max-width: 10%;
  height: auto;
  border-radius: 50%;
}

.post{
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid gray;
  height: auto;
  width: 800px;
  margin-bottom: 10px;
}

.post-info{
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.post-text-wrap{
  display: flex;
  flex-direction: column;
}

.post-user{
  display: flex;
  display: row;
  gap: 1em;
  margin: auto auto;
}

.dish-text{
  position: relative;
  left: 50px;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
}

.dish-p{
  margin: 2px;
}

.dish-pic-wrap{
  position: relative;
  margin: 20px auto;
}

.dish-pic{
  border-radius: 2%;
}

.actions{
  position: relative;
  display: flex;
  flex-direction: row;
  left: 50px;
}

.save{
  left: 15em;
  gap: 35px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

#dish-name{
  font-weight: bolder;
  font-size: large;
}


#user-name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  font-weight: bold;
}

#user-at{
  margin: auto auto;
  font-size: small;
  color:bisque;
}

#view-R{
  color:palevioletred;
  font-weight: bolder;
}
body{
  background-color: black;
}