.main-page{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 5em;
  left: 50%;
  color: white;
}

.profile-pic {
  height: 75px; /* Fixed height */
  width: 75px; /* Fixed width */
  object-fit: cover; /* Ensures the image covers the container without stretching */
  border-radius: 50%;
  /* Additional styling if needed */
}


.post{
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid gray;
  height: auto;
  width: 800px;
  margin-bottom: 10px;
}

.post-info{
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.post-text-wrap{
  display: flex;
  flex-direction: column;
}

.post-user{
  display: flex;
  display: row;
  gap: 1em;
  margin: auto auto;
}

.dish-text{
  position: relative;
  left: 50px;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
}

/* Add this to your existing CSS */

.top {
  gap: 0cm;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 5px solid gray; /* Add this line for the gray border */
}


.pf{

  margin-top: 1em;
  left: 9em;
  height: 200px; /* Fixed height */
  width: 200px; /* Fixed width */
  object-fit: cover; /* Ensures the image covers the container without stretching */
  border-radius: 50%;
}

.user{
  font-size: x-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.pf_holder{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
  margin-right: 40em; /* Adjust margin as needed */
}

.dish-p{
  margin: 2px;
}

.dish-pic-wrap{
  position: relative;
  margin: 20px auto;
}

.dish-pic {
  width: 50%;       /* Ensure the image takes up 100% of its container's width */
  height: 40%;      /* Allow the height to adjust proportionally based on the width */
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

.actions{
  position: relative;
  display: flex;
  flex-direction: row;
  left: 50px;
}

.save{
  left: 15em;
  gap: 35px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

#dish-name{
  font-weight: bolder;
  font-size: large;
}


#user-name{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  font-weight: bold;
}

#user-at{
  margin: auto auto;
  font-size: small;
  color:bisque;
}

#view-R{
  color:palevioletred;
  font-weight: bolder;
}

body{
  background-color: black;
  height: 100%;
  width: 100%;
}