
.create-post-container {
    display: flex;
  }
  
  .left-panel {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    left: 5%;
    padding: 20px;
    
  }
  
  .input-group {
    margin-bottom: 50px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .steps{
    margin-top: 50px;
  }
  
  .formatting-options {
    margin-bottom: 20px;
  }
  
  .gray-box {
    background-color: #f0f0f0;
    color: #000;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }
  
  .tags {
    margin-bottom: 20px;
  }
  
  .tags label {
    display: block;
    margin-bottom: 5px;
  }

  .back-button {
    position: absolute;
    top: 25px;
    left: 20%;
    cursor: pointer;
    font-weight: bolder;
  }

  .input-div{
    display: flex;
    flex-direction: row;
    gap: 5em;
  }

  .align{
    display: flex;
    flex-direction: column;
  }

  .btn{
    color: black;
    font-size: larger;
    font-weight: bolder;
    margin-top: 10px;
    height: 50px;
    width: auto;
    background-color: greenyellow;
  }

  .selected-tags-container {
    height: 200px; /* Adjust the height as needed */
    width: 250px;
    overflow-y: auto;
  }

  .listT{
    margin: 0 0;
    margin-bottom: 10px;
  }
  
  .selected-tags-list {
    max-height: 100%; /* Ensure the list doesn't exceed the container height */
    max-width: 80%;
  }

  .tags{
    gap: 35px;
    display: flex;
    flex-direction: row;
  }

  .labelT{
    margin-bottom: 5px;
  }

  .boxT{
    height: 15em;
    width: 13em;
  }

  .selectedT{
    display: flex;
    flex-direction: column;
  }

  .nameA{
    height: 50px;
  }

  .nameB{
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis; 
    resize: none;
    box-sizing: border-box;
    width: 100%;
  }

  .textP{
    display: flex;
    flex-direction: column;
    width: 450px;
  }

  .cap{
    font-size: large;
    resize: none;
  }

  .areaT{
    font-size: larger;
  }